<!DOCTYPE html>
{% load static %}
<html>
    <head>
           <title>Ecommerce</title>
           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>

           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


           <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
           
		      
        <script type="text/javascript">
          var user = '{{request.user}}'

          function getToken(name){
               var cookieValue = null;
               if (document.cookie && document.cookie !== ''){
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = cookies[i].trim();
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) === (name+'=')){
                      cookieValue = decodeURIComponent  (cookie.substring(name.length + 1));
                      break;
		                  }
		              }
		          }
          return cookieValue;
        }
		    var csrftoken = getToken('csrftoken')

        function getCookie(name) {
               // Split cookie string and get all individual name=value pairs in an array
               var cookieArr = document.cookie.split(";");
               // Loop through the array elements
               for(var i = 0; i < cookieArr.length; i++) {
                 var cookiePair = cookieArr[i].split("=");
                 /* Removing whitespace at the beginning of the cookie name and compare it with the given string */
                 if(name == cookiePair[0].trim()) {
                   // Decode the cookie value and return
                   return decodeURIComponent(cookiePair[1]);
                  }
                }
                // Return null if not found
                return null;
              }
              var cart = JSON.parse(getCookie('cart'))
              if (cart == undefined){
                cart = {}
                console.log('Cart was created!', cart)
                document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
              }
              console.log('Cart:', cart)
	
        </script>

    </head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="{% url 'store' %}">Ecommerce<span class="sr-only">(current)</span><img src="{% static 'media/shopping-cart-.png' %}" style="width:50px;height:50px,color:text-light;"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
      
          
        </li>
      </ul>
    
     

    <div class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav my-2 my-lg-0">

     

      {% if user.is_authenticated %}

      
      <li class="nav-item active ">
        <a href="{% url 'profile' %}" class="btn btn-warning">Profile<span class="sr-only">(current)</span></a> 
      </li>
      <br>
      <hr>
      <li class="nav-item active ">
        <a  href="{% url 'logout' %}" class="btn btn-warning">Logout<span class="sr-only">(current)</span></a>
      </li>
      
      {% else %}

      <li class="nav-item active">
        <a  href="{% url 'login' %}" class="btn btn-warning">Login<span class="sr-only">(current)</span></a>
      </li>
      <br>
      <li class="nav-item active">
        <a href="{% url 'register' %}" class="btn btn-warning">Register<span class="sr-only">(current)</span></a>
      </li>

      {% endif %}

      
        
        <a href="{% url 'cart' %}"><img id="cart-icon" src="{% static 'media/cart.png' %}"></a>
        <h5><p id="cart-total">{{cartItems}}</p></h5>
         
      
      

    </ul>
    </div>
    </div>

      
</nav>


<div class="container">
     {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
     {% endif %}
    
          {% block body %}

          {% endblock body %}
                   
  </div>
  <footer class="page-footer font-small indigo">

    <!-- Footer Links -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
  
        <!-- Grid column -->
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
           <!--<a href="#!">About this webiste</a>
           
              This is a demo Ecommerce website- a django project.
              This is developed to enhance the speed in my django skills.
              With the help of Danny Ivy, I was able to develop this website-adding more features to it</
              <li></li>-->
            
          </h6>
        </div>
        <!-- Grid column -->
  
       
      <!-- Grid row-->
      <hr class="rgba-white-light" style="margin: 0 15%;">
  
      <!-- Grid row-->
      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
  
        <!-- Grid column -->
        <div class="col-md-8 col-12 mt-5">
            <h1>Disclaimer</h1>
            <p style="line-height: 1.7rem">I discliam ownership of any "item" stated on this webpage. I have no policy over them</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  
      <!-- Grid row-->
      <div class="row pb-3">
  
        <!-- Grid column -->
        <div class="col-md-12">
  
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic">
              <i class="fab fa-pinterest fa-lg white-text"> </i>
            </a>
  
          </div>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <!--<p>You have visited this page {{ num_visits }} time {{ num_visits|pluralize }}.</p>-->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      Sylvester Nkwonta-</a>
    </div>
    <!-- Copyright -->
  
</footer>
  <!-- Footer -->
</body>
</html>

      

        


  
   



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}" ></script>
    
</body>
</html>