{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-10 mt-5 center">
        <!--<div class="col-md-8 offset-md-2">-->
           <h1>{% block title %} {{ object.name }} {% endblock title %}</h1>
            <small>
                {{ object.price }} |&nbsp;Categories:&nbsp;
                
                <a href="#">
                    {{ object.description }}</a>&nbsp;
                
            </small>
            <img class="thumbnail" src="#">
            <p class="card-text "></p>
            <hr>




{% endblock body %}