{% extends 'base.html' %}
{% load static %}			
{% block body %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-blue"> Welcome to my awesome Blog </h3>
                    
                </div>
            </div>
        </div>
    </div>
</header>
<!-- body -->

<div class="col-lg-3 float-left"> <br>
    <div class="list-group">

        <strong><a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a></strong>

        {% for category in categories %}
        <a href="/?category={{category.id}}"
            class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
        {% endfor %}
    </div>

</div>
	

                <!-- filter -->
                
                
           
<br>
       



    <!-- filter -->



    
    <div class="row">
        {% for product in totals %} 
        <div class="col-lg-6">
            <img class="thumbnail" src="{{ product.image }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>

                <button data-product="" data-action="" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                
                <a class="btn btn-outline-success" href="{% url 'index_details' post.slug %}">View details</a>
                <h5 style="display:inline-block;float:right"><strong>${{product.price| floatformat:2}}</strong></h5>

            </div>
        </div>
        {% endfor %}
        
    </div>
    </div>
    

    
  

        
    
		

{% endblock body %}





